nav {
    border: 1px solid black;
    color: brown;
    width: 100%;
    background-color: aqua;
    padding-top: 20%;
}
header {
    border: 1px solid black;
    color: brown;
    background-color: aqua;
}